<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quanutrition.app">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".TestActivity"></activity>
        <activity android:name=".dietextras.IngredientsActivity" />
        <activity android:name=".dietextras.SupplementsActivity" />
        <activity android:name=".bottomtabs.WeightProgressActivity" />
        <activity android:name=".questionnaire.QuestionAnswerActivity" />
        <activity
            android:name=".questionnaire.QuestionnaireActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".dietrecall.DietRecallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".general.ContactUsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".blogs.SocialMediaGridActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".general.ClientProfile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".blogs.HealthFeedActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity android:name=".profile.TimeInputActivity" />
        <activity android:name=".profile.GeneralDataActivity" />
        <activity android:name=".diet.DietNotesActivity" />
        <activity
            android:name=".blogs.YoutubePlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_youtube_play"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".general.ReferHistoryActivity"
            android:parentActivityName=".general.ReferActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".general.ReferActivity" />
        </activity>
        <activity
            android:name=".profile.MeasurementsActivity"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".payments.CheckoutActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payments.ExtendDurationActivity"
            android:parentActivityName=".payments.PaymentHistory"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".payments.PaymentHistory" />
        </activity>
        <activity
            android:name=".programs.ProgramDetailsActivity"
            android:parentActivityName=".programs.ProgramsActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".programs.ProgramsActivity" />
        </activity>
        <activity
            android:name=".blogs.BlogDetailsActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".general.SignUpInfo"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diet.ReminderSetupActivity"
            android:parentActivityName=".general.SettingsActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".general.SettingsActivity" />
        </activity>
        <activity
            android:name=".general.PhysicalActivity"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".general.SplashScreenActivity"
            android:clearTaskOnLaunch="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dietitio.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".general.SignInActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".waterintake.WaterGraphActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".googlefit.CaloriesGraphActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".googlefit.StepsGraphActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".general.ReferActivity"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".payments.PaymentHistory"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".general.AboutDietitianActivity"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".general.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".general.DailyDiaryActivity"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".appointment.AppointmentsActivity"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".programs.ProgramsActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.FoodSpecificationsActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.DiseaseDetailsActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.MedicalHistory"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.BasicInfoActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diet.DietPlanViewActivity"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ChatActivity"
            android:parentActivityName=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".HandleTheFuckingLink"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ImageViewActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity android:name=".diet.RecipeActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_1yS1ZHffGbLw2J" />

        <receiver
            android:name=".waterintake.WaterActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Add_Water" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Utils.SampleBootReciever"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Utils.MyAlarmManager"
            android:process=":remote">
            <intent-filter>
                <category android:name="android.intent.category.APP_MESSAGING" />

                <data android:scheme="timer:" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".waterintake.WaterReminderReciever"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".waterintake.ReminderService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".googlefit.FirebaseSyncService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>